@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{ 
            string name = "Martin";
            int age = 99;
        }
    
    </div>

    <div>
        <span style ="background-color:lightgreen ; width:auto ; height:75px">Name : @name</span>

    </div>


    <div>
        <span style="background-color:lightcoral ; width:auto ; height:75px">Age : @age</span>

    </div>
</body>
</html>
